# APP
APP_PORT=#8080
QUEUE_NAME_MESSAGES_INCOMING=#incoming_messages
QUEUE_NAME_MESSAGES_OUTGOING=#outgoing_messages

# INFRA
QUEUE_RABBITMQ_CONN_URL=#amqp://guest:guest@localhost:5672/

LLM_GEMINI_API_KEY=#your_gemini_api_key
LLM_GEMINI_MODEL=#gemini-2.5-flash

# TEST
TEST_RECEIVER_STUB_MODE=#true 
TEST_ROUTER_STUB_MODE=#false 